[admission]
bind_address = "0.0.0.0:8443"

[cluster]
kubeconfig = "/home/travelaudience/.kube/config"
namespace = "cloudsql-postgres-operator"

[logging]
level = "debug"

[project]
project_id = "cloudsql-postgres-operator-123456"
